<!--Search -->
<div class="content">
	<div class="container">
		<div class="section">

			<!--Alert -->
			<div class="row">

				<div class="alert alert--success">
					<div class="alert__icon icon-check"></div>
					<div class="alert__message">The Proxies were successfully
						Approved.</div>
					<div class="alert__close icon-close"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl">
					<form action="">
						<div class="form-group">
							<div class="form-group__text">
								<input id="search" type="search"> <label for="search">Search
									CEC ID</label>
								<button type="button" class="link">
									<span class="icon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>




		<!--Table -->
		<div class="col-xl">

			<div>

				<div class="row">
					<table class="table table--bordered table--highlight table--hover">
						<thead>
							<tr>
								<th><label class="checkbox"> <input type="checkbox" />
										<span class="checkbox__input"></span>
								</label></th>
								<th>Request ID</th>
								<th>Requested By</th>
								<th>Recipient ID</th>
								<th>Access Type</th>
								<th>Access Level</th>
								<th>Request Status</th>
								<th>Level 1 Approver</th>
								<th>Level 2 Approver</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><label class="checkbox"> <input type="checkbox" />
										<span class="checkbox__input"></span>
								</label></td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>

							</tr>
							<tr>
								<td><label class="checkbox"> <input type="checkbox" />
										<span class="checkbox__input"></span>
								</label></td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
							</tr>
							<tr>
								<td><label class="checkbox"> <input type="checkbox" />
										<span class="checkbox__input"></span>
								</label></td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
								<td>Ipsum</td>
							</tr>
						</tbody>

					</table>

				</div>

				<div>
					<div class="col-xl base-margin-top flex-center-horizontal">
						<button class="btn btn--negative">Decline</button>
						<button class="btn btn--primary">Approve</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>