<header class="header">
	<div class="header-bar container">
	
		<a class="btn btn--small btn--icon toggle-menu"
			>
			<span class="icon-list-menu"></span>
		</a> 
		
		<a class="header-bar__logo"> <span class="icon-cisco"></span>
		</a>
		<div class="header-bar__main">
			<div class="header-heading">
				<h1 class="page-title">Proxy Management Tool</h1>
			</div>
		</div>
		<div class="header-toolbar">

			<a class="btn btn--small btn--icon" data-balloon="Feedback"
				data-balloon-pos="down"
				href="https://cisco.jiveon.com/groups/in-touch" target="_blank">
				<img src="https://i.imgur.com/VumUg9F.png" alt="">
			</a>

			<!-- <span>F ~></span>-->
			<a class="btn btn--small btn--icon"
				data-balloon="Next-Gen Forecasting" data-balloon-pos="down"> <span
				class="icon-google-analytics"></span>
			</a>

			<!-- <span>OM ~></span>-->
			<a class="btn btn--small btn--icon"
				data-balloon="Opportunity Management on SalesForce"
				data-balloon-pos="down"> <span class="icon-analysis"></span>
			</a>
			<!-- icon-analysis -->


			<a class="btn btn--small btn--icon" data-balloon="Help"
				data-balloon-pos="down"
				href="mailto:questions@proxy.cisco.com?Subject=How do I..."> <span
				class="icon-help-alt"></span>
			</a> <a class="btn btn--small btn--icon" data-balloon="Sign Out"
				data-balloon-pos="down"> <span class="icon-sign-out"></span>
			</a>
		</div>
	</div>
</header>