<div class="content">
	<div class="container">
		<div class="section">

			<!-- Alert -->
			<div class="row">
				<div class="col-xl">
					<div class="alert">
						<div class="alert__icon icon-info-circle"></div>
						<div class="alert__message">Update: Your proxy request was
							approved</div>
						<div class="alert__close icon-close"></div>
					</div>
				</div>
			</div>

			<!-- Access/Proxy -->

			<div class="row " style="overflow-x: auto;">

				<table class="table table--bordered table--loose">
					<thead>
						<tr>
							<th class="text-center col-sm-6">My Access</th>
							<th class="text-center col-sm-6">My Proxies</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="row">

									<table
										class="table table--bordered table--highlight table--hover">
										<thead>
											<tr>
												<th>Territory</th>
												<th>Default</th>
												<th>Access Level</th>
												<th>Tool</th>
												<th>Edit</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Territory A</td>
												<td>Yes</td>
												<td>Edit</td>
												<td>SFDC</td>
												<td><a href="">Edit</a></td>
											</tr>
											<tr>
												<td>Territory B</td>
												<td>Yes</td>
												<td>Edit/Submit</td>
												<td>SFDC/NGF</td>
												<td><a href="">Edit</a></td>
											</tr>

										</tbody>

									</table>

								</div>
								<div>
									<br> <a href="" class="col-xl text-right"
										href="http://wwwin-dev.cisco.com/cgi-bin/WWSales/gsts/OMF/OMFPositionList.pl"
										target="_blank">See all</a>
									<div class="col-xl base-margin-top flex-center-horizontal">

										<a
											href="http://sfdcuseraccess.cloudapps.cisco.com/SFDCUserAccess"
											target="_blank">
											<button class="btn btn--primary">Request New Access</button>
										</a>
									</div>
								</div>

							</td>
							<td>
								<div class="row">

									<table
										class="table table--bordered table--highlight table--hover">
										<thead>
											<tr>
												<th>Territory</th>
												<th>Username</th>
												<th>Access Level</th>
												<th>Tool</th>
												<th>Edit</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Territory A</td>
												<td>adrfeudj</td>
												<td>Edit</td>
												<td>SFDC</td>
												<td><a href="">Edit</a></td>
											</tr>
											<tr>
												<td>Territory B</td>
												<td>kealford</td>
												<td>Edit/Submit</td>
												<td>SFDC/NGF</td>
												<td><a href="">Edit</a></td>
											</tr>

										</tbody>

									</table>

								</div>

								<div>
									<br> <a href="" class="col-xl text-right"
										href="http://wwwin-dev.cisco.com/cgi-bin/WWSales/gsts/OMF/OMFPositionList.pl"
										target="_blank">See all</a>

									<div class="col-xl base-margin-top flex-center-horizontal">
										<a
											href="file:///Users/adrfeudj/Desktop/Proxy%20Project/cui-1.1.0-official%202/request.html">
											<button class="btn btn--primary">Request New Proxy</button>
										</a>
									</div>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<br> <br>


			<!-- Search -->
			<div class="row">
				<div class="col-xl">
					<form action="">
						<div class="form-group">
							<div class="form-group__text">
								<input id="search" type="search"> <label for="search">Search
									CEC ID</label>
								<button type="button" class="link">
									<span class="icon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!-- Table -->

		<div class="row" style="overflow-x: auto;">

			<table class="table table--bordered table--highlight table--hover">
				<thead>
					<tr>
						<th>Request ID</th>
						<th>Requested By</th>
						<th>Recipient ID</th>
						<th>Access Type</th>
						<th>Access Level</th>
						<th>Request Status</th>
						<th>Level 1 Approver</th>
						<th>Level 2 Approver</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>

					</tr>
					<tr>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
					</tr>
					<tr>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
						<td>Ipsum</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>