<!--The content below is only a placeholder and can be replaced.-->

<body class="cui">
<div class="content-fluid">

<!-- SSH Key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDU1c1gbfRKa+qBGziL9cxAAUcotC+IWKC5ZVhewpDGBIfa00kXD3qcyVxSuYPooVRH/xMsVhqRacxPvfr9HRjPKYbq4gAY0idK1qNgmAYchL9yV/gryL6ap/qH7rcFYpLp1t0sHfkVaDgjpurB1KimoStdu7YH1OprcUusCkcXILDSY3YgdQJRBxvLm+SufyUusUDjPWCYeL5OgUFB2ZM/su8rJ9TKJS6hBDsOYoGTEGT2bNa8xLtDJrO0sp84W0BcMmJ3d6DZ+4OrSFylWoDCo6cqvp4LmO432ZGnDNlxAxnZ+o6Eb+Qh7BvL0wMx50z0u74et2wl+wWJAVae+Yi3 adrfeudj@cisco.com
 -->

<!-- Side-bar of the app -->
	
	<div class="sidebar">
			<app-sidebar></app-sidebar>
	</div>

<!-- Header of the app -->
	<main> 
			<app-header></app-header>
		
		
<!-- Center of the app -->
	<div class="content">
				<router-outlet></router-outlet>
<!-- 			<app-center></app-center> -->
<!-- 			<app-request></app-request> -->
<!-- 			<app-approve></app-approve> -->
	</div>


<!-- Footer of the app -->
		<footer class="footer footer--new">
			<div class="footer__links">
				<ul class="list">
					<li><a
						href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html"
						target="_blank">Contacts</a></li>
					<li><a
						href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ"
						target="_blank">Feedback</a></li>
					<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html"
						target="_blank">Site Map</a></li>
					<li><a
						href="http://www.cisco.com/web/siteassets/legal/terms_condition.html"
						target="_blank">Terms and Conditions</a></li>
					<li><a
						href="http://www.cisco.com/web/siteassets/legal/privacy_full.html"
						target="_blank">Privacy Statement</a></li>
					<li><a
						href="http://www.cisco.com/web/siteassets/legal/privacy_full.html#cookies"
						target="_blank">Cookie Policy</a></li>
					<li><a
						href="http://www.cisco.com/web/siteassets/legal/trademark.html"
						target="_blank">Trademarks</a></li>
				</ul>
			</div>
			<div class="footer__legal">
				<div class="footer__logo">
					<a href="http://www.cisco.com" target="_blank"> <span
						class="icon-cisco"></span>
					</a>
				</div>
				<div class="footer__copyright">
					<div>Copyright &copy; 2017 Cisco Systems Inc.</div>
					<div>All rights reserved.</div>
				</div>
			</div>
		</footer> 
		
		
		</main>
	</div>

</body>

