<div class="sidebar">
	<div class="sidebar__header">
		<div class="sidebar__header">
			<img class="thumb thumb--huge"
				src="http://wwwin.cisco.com/dir/photo/zoom/gdiazjr.jpg" alt="">
		</div>
		<div class="sidebar__header-title">Hi, G.</div>

	</div>

	<ul>
		<li  ><a class="sidebar__item hover" routerLink="/center"
			routerLinkActive="active"> <span class="icon-home"></span> <span
				class="qtr-margin-left">Home</span>
		</a></li>
		<li class="sidebar__item" ><a routerLink="/request"
			routerLinkActive="active"> <span class="icon-add"></span> <span
				class="qtr-margin-left">Request Proxy</span>
		</a></li>
		<li class="sidebar__item" ><a routerLink="/approve"
			routerLinkActive="active" > <span class="icon-check-square-o"></span>
				<span class="qtr-margin-left">Approve Proxy</span>
		</a></li>
		<li class="sidebar__item "><a
			href="https://cisco.jiveon.com/groups/in-touch" target="_blank">
				<img class="icon" src="https://i.imgur.com/VumUg9F.png" alt="">
				<span class="qtr-margin-left">Feedback</span>
		</a></li>
	</ul>
</div>
