<div class="content">
	<div class="container">
		<div class="section">

			<!--Alert -->
			<div class="row">
				<div class="col-xl">
					<div class="alert alert--success">
						<div class="alert__icon icon-check"></div>
						<div class="alert__message">
							Your Proxy Request has been successfully submitted. <a>Request
								another Proxy</a>
						</div>
						<div class="alert__close icon-close"></div>
					</div>
				</div>
			</div>


			<!--Requesting Proxy -->
			<div class="row">
				<blockquote class="blockquote--blue">
					<cite>Proxy Request Instructions</cite>
					<p>Cisco's Proxy Management Tool (PMT) relies on integration
						with SHARE to permit proxy access based on the individual's SHARE
						node assignments. Individuals without node assignments, who
						require SFDC or NGF Proxy access, will need to undergo Manager
						Approval process.</p>
					<br>
					<p>Once you have submitted your request below, please discuss
						your business need with your Manager/Proxy to ensure prompt
						processing as your Manager/Proxy will be notified of your request
						for the proxy access.</p>
				</blockquote>
			</div>

			<!--Search -->
			<div class="row">
				<div class="col-xl">
					<form action="">
						<div class="form-group">
							<div class="form-group__text">
								<input id="search" type="search"> <label for="search">Search
									CEC ID</label>
								<button type="button" class="link">
									<span class="icon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!--Table -->


	</div>
</div>
